In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('./outputFile.xlsx')
df

       Unnamed: 0       dge               Type             Region   Min   Max
0               0  Lausanne  Einfamilienhauser           Lausanne  1660  1970
1               1  Lausanne  Einfamilienhauser                 VD  1164  1854
2               2  Lausanne  Einfamilienhauser                 CH   985  1666
3               3  Lausanne  Stockwerkeigentum           Lausanne  1280  1380
4               4  Lausanne  Stockwerkeigentum                 VD   835  1226
...           ...       ...                ...                ...   ...   ...
17158       17158  Verzasca  Stockwerkeigentum                 TI   682  1008
17159       17159  Verzasca  Stockwerkeigentum                 CH   695  1107
17160       17160  Verzasca      Mietwohnungen  Brione (Verzasca)  1310  1530
17161       17161  Verzasca      Mietwohnungen                 TI  1350  1940
17162       17162  Verzasca      Mietwohnungen                 CH  1460  2150

[17163 rows x 6 columns]

In [3]:
df_c = pd.read_excel('./City_List.xlsx')
df_c

         plz                  dge_name
0     1000.0                  Lausanne
1     1008.0           Jouxtens-Mézery
2     1008.0                    Prilly
3     1008.0               Renens (VD)
4     1009.0                     Pully
...      ...                       ...
2167     NaN  Welschenrohr-Gänsbrunnen
2168     NaN        Muntogna da Schons
2169     NaN                  Verzasca
2170     NaN             Val de Bagnes
2171     NaN             Noble-Contrée

[2172 rows x 2 columns]

In [5]:
len(df['dge'].unique())

1905

In [6]:
len(df_c['dge_name'].unique())

2172

In [7]:
2172-1905

267