# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import datetime

# Reading Anomaly Data

In [2]:
df  = pd.read_csv('data/AnomalyData.csv',na_filter=np.nan)
df

,order_id,customer_id,date,nearest_warehouse,shopping_cart,order_price,delivery_charges,customer_lat,customer_long,coupon_discount,order_total,season,is_expedited_delivery,distance_to_nearest_warehouse,latest_customer_review,is_happy_customer
0,ORD009240,ID0361797209,06-04-2019,Nickolson,"[('Olivia x460', 1), ('Universe Note', 1)]",4675,81.59,-37.807490,144.978630,0,4756.59,Autumn,True,1.4716,five stars works great,True
1,ORD041093,ID2699585178,2019-10-01,Nickolson,"[('Olivia x460', 1), ('pearTV', 2), ('iStream'...",16940,75.97,-37.825884,144.966555,0,18520.97,Spring,False,0.8530,wonderful phone love this phone. the battery l...,True
2,ORD235705,ID4740822068,2019-07-20,Thompson,"[('Thunder line', 1), ('Lucent 330S', 1)]",3410,64.02,-37.803573,144.949700,10,3133.02,Winter,False,1.0391,flexing on the alcons this is a fantastic repl...,True
3,ORD067571,ID0846591611,2019-07-17,Nickolson,"[('iStream', 1), ('Universe Note', 1), ('Alcon...",27810,75.02,-37.822078,144.969508,25,20932.52,spring,True,0.3877,looked brand new for my first alcon purchase i...,True
4,ORD100738,ID0591432805,2019-05-27,Nickolson,"[('Alcon 10', 1), ('pearTV', 1), ('Lucent 330S...",17720,65.13,-37.819440,144.963458,5,16899.13,Autumn,False,0.5440,good phone it's a good basic phone. it dont ha...,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,ORD407342,ID0247010191,2019-10-09,Nickolson,"[('Universe Note', 1), ('Toshika 750', 2), ('L...",14550,88.81,-37.808916,144.968579,25,11001.31,Spring,True,1.0808,the phone gets warm when you put to charge. so...,False
496,ORD441050,ID0591320179,2019-26-04,Nickolson,"[('Toshika 750', 2), ('Thunder line', 1), ('Lu...",13280,81.02,-37.825388,144.956911,15,11369.02,Autumn,True,1.3443,"very nice phone, easy to keep in your hand vs....",True
497,ORD382307,ID2170946978,2019-02-24,Bakers,"[('Alcon 10', 2), ('Olivia x460', 2), ('Univer...",27250,97.75,-37.801799,144.984171,10,24622.75,Summer,True,0.6346,good phone good chicle for the price.,True
498,ORD457002,ID0758612180,2019-06-17,Thompson,"[('pearTV', 1), ('iAssist Line', 2), ('Univers...",14510,64.48,-37.821411,144.945617,0,26641.27,Winter,True,0.9810,no funciona no prende no se prende el cel y es...,False
499,ORD249683,ID3810637369,2019-08-01,Bakers,"[('pearTV', 2), ('Universe Note', 1), ('Toshik...",24710,78.40,-37.821147,144.943288,0,24788.40,Winter,True,1.0002,just what i was looking for! serves it's purpo...,True

# Handling Anomalies in Dataset

### Checking data type of all features

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    object
 3   nearest_warehouse              500 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    500 non-null    int64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   500 non-null    float64
 8   customer_long                  500 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    500 non-null    float64
 11  season                         500 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  500 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              500 non-null    bool
dtypes: bool(2), float64(5), int64(2), object(7)
memory usage: 55.8+ KB

### First we need to convert date column into "date-type"

In [4]:
dates = []
#2019-28-12
for x in range(0,len(df)):
    try:
        df.at[x,'date'] = pd.to_datetime(df.iloc[x]['date']).date()
        
    except:
        date_string = df.iloc[x]['date']
        date_string = date_string.split('-')
        new_date = date_string[0]+"-"+date_string[2]+"-"+date_string[1]
        df.at[x,'date'] = pd.to_datetime(new_date).date()

                       
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       500 non-null    object
 1   customer_id                    500 non-null    object
 2   date                           500 non-null    datetime64[ns]
 3   nearest_warehouse              500 non-null    object
 4   shopping_cart                  500 non-null    object
 5   order_price                    500 non-null    int64
 6   delivery_charges               500 non-null    float64
 7   customer_lat                   500 non-null    float64
 8   customer_long                  500 non-null    float64
 9   coupon_discount                500 non-null    int64
 10  order_total                    500 non-null    float64
 11  season                         500 non-null    object
 12  is_expedited_delivery          500 non-null    bool
 13  distance_to_nearest_warehouse  500 non-null    float64
 14  latest_customer_review         500 non-null    object
 15  is_happy_customer              500 non-null    bool
dtypes: bool(2), datetime64[ns](1), float64(5), int64(2), object(6)
memory usage: 55.8+ KB

### Checking order-id & customer-id format

### In order-id, the first three chracters should be ORD and all upcoming should be numbers.
### In customer-id, the first two chracters should be ID and all upcoming should be numbers.

In [5]:
flag_order = True
flag_customer = True

for x in range(0,len(df)):
    order_id = df.iloc[x]['order_id']
    customer_id = df.iloc[x]['customer_id']
    if(order_id[:3]=="ORD"):
        try:
            num = int(order_id[3:])
        except:
            flag_order = False
    else:
        flag_order = False
    
    if(customer_id[:2]=="ID"):
        try:
                num = int(customer_id[2:])
        except:
                flag_customer = False
    else:
        flag_customer = False
        
print(flag_order,flag_customer)

True True

### So we have concluded that there is no issue in order-id & customer-id

### Checking Nearest Warehouse Values

In [6]:
df['nearest_warehouse'].unique()

array(['Nickolson', 'Thompson', 'Bakers', 'thompson', 'nickolson',
       'bakers'], dtype=object)

### So there is issue in values. We have to convert all lower-caps values

In [7]:
def process_nearest_warehouse(x):
    if(x=="thompson"):
        return "Thompson"
    elif(x=="nickolson"):
        return "Nickolson"
    elif(x=="bakers"):
        return "Bakers"
    else:
        return x


df['nearest_warehouse'] = df['nearest_warehouse'].apply(lambda x:process_nearest_warehouse(x))

In [8]:
df['nearest_warehouse'].unique()

array(['Nickolson', 'Thompson', 'Bakers'], dtype=object)

###  Both longitude and latitude are angles measured with the center of the earth as an origin. A longitude is an angle from the prime merdian, measured to the east (longitudes to the west are negative). Latitudes measure an angle up from the equator (latitudes to the south are negative)



### Checking Season feature

In [9]:
df['season'].unique()

array(['Autumn', 'Spring', 'Winter', 'spring', 'Summer', 'autumn',
       'winter', 'summer'], dtype=object)

### So there is issue in values. We have to convert all lower-caps values

In [10]:
def process_season(x):
    if(x=="spring"):
        return "Spring"
    elif(x=="winter"):
        return "Winter"
    elif(x=="summer"):
        return "Summer"
    elif(x=="autumn"):
        return "Autumn"
    else:
        return x

df['season'] = df['season'].apply(lambda x:process_season(x))

In [11]:
df['season'].unique()

array(['Autumn', 'Spring', 'Winter', 'Summer'], dtype=object)

### Order-price, Order-total, Delivery-charge,Coupon-discount & Distance to nearest warehouse can never be less than zero

In [12]:
flag_order_price = True
flag_order_total = True
flag_deliver = True
flag_coupon = True
flag_distance = True

for x in range(0,len(df)):
    if(df.iloc[x]['order_price']<0):
        flag_order_price = False
    if(df.iloc[x]['order_total']<0):
        flag_order_total = False
    if(df.iloc[x]['delivery_charges']<0):
        flag_deliver = False
    if(df.iloc[x]['coupon_discount']<0):
        flag_coupon = False
    if(df.iloc[x]['distance_to_nearest_warehouse']<0):
        flag_coupon = False

print(flag_order_price,flag_order_total,flag_deliver,flag_coupon,flag_distance)

True True True True True

### Checking expected_delivery & is_happy customer values

In [13]:
flag_expected = True
flag_happy = True

for x in range(0,len(df)):
    value_ = df.iloc[x]['is_expedited_delivery']
    if(value_!=True and value_!=False):
        flag_expected = False
    
    value_ = df.iloc[x]['is_happy_customer']
    if(value_!=True and value_!=False):
        flag_happy = False

print(flag_expected,flag_expected)

True True

### Now its time to save the dataset

In [15]:
df.to_csv('Anomaly-output.csv')